# {{ ansible_managed }}

<VirtualHost *:{{ ironic_service_port }}>
    WSGIDaemonProcess ironic-api user={{ ironic_system_user_name }} group={{ ironic_system_group_name }} processes={{ ironic_wsgi_processes }} threads={{ ironic_wsgi_threads }} display-name=%{GROUP}
    WSGIScriptAlias / /var/www/cgi-bin/ironic/ironic.wsgi
    SetEnv APACHE_RUN_USER {{ ironic_system_user_name }}
    SetEnv APACHE_RUN_GROUP {{ ironic_system_group_name }}
    WSGIProcessGroup ironic-api

    ErrorLog /var/log/ironic/ironic_error.log
    LogLevel info
    CustomLog /var/log/ironic/ironic_access.log combined

    <Directory /var/www/cgi-bin/ironic/>
        WSGIProcessGroup ironic-api
        WSGIApplicationGroup %{GLOBAL}
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
