[DEFAULT]
retry_interval = {{ ironic_oneviewd_retry_interval }}
rpc_thread_pool_size = {{ ironic_oneviewd_rpc_thread_pool_size }}

[oneview]
manager_url = {{ ironic_oneview_manager_url }}
username = {{ ironic_oneview_username }}
password = {{ ironic_oneview_password }}
allow_insecure_connections = {{ ironic_oneview_allow_insecure_connections }}
tls_cacert_file = {{ ironic_oneview_tls_cacert_file }}
max_polling_attempts = {{ ironic_oneview_max_polling_attempts }}
enable_periodic_tasks = {{ ironic_oneviewd_enable_periodic_tasks }}
periodic_check_interval = {{ ironic_oneviewd_periodic_check_interval }}
audit_enabled = {{ ironic_oneviewd_audit_enabled }}
audit_map_file = {{ ironic_oneviewd_audit_map_file }}
audit_output_file = {{ ironic_oneviewd_audit_output_file }}

[openstack]
auth_url = {{ keystone_service_adminuri }}
username =  {{ ironic_service_user_name }}
password = {{ ironic_service_password }}
region_name = {{ keystone_service_region }}
insecure = {{ keystone_service_internaluri_insecure | bool }}
endpoint_type = internalURL
project_name = {{ ironic_service_project_name }}
user_domain_id = {{ ironic_service_user_domain_id }}
project_domain_id = {{ ironic_service_project_domain_id }}
